{% extends "master.twig" %}

{% block css %}
    <style>
        .material-icons{
            vertical-align: middle; }
        button{
            outline: none; }
    </style>
{% endblock %}

{% block content %}
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1 class="text-center" style="margin-top: 50px;">Welcome to API</h1>
                <div class="text-center">Добро пожаловать</div>

                <div style="height: 50px;"></div>

                {% if error %}
                    <div class="callout alert"><b>Ошибка:</b> {{ error }}</div>
                    <div style="height: 50px;"></div>
                {% endif %}

                {% if not globals.auth  %}
                    {% if need_verified %}
                    <div class="callout warning">
                        {{  need_verified }}
                    </div>
                    {% endif %}

                    <div style="max-width: 320px; margin: 0 auto;">
                        <form action="/api" method="post">
                            <input type="hidden" name="method_name" value="login">
                            <input type="text" name="email" placeholder="email">
                            <input type="password" name="pass" placeholder="password">
                            <div class="text-center"><input class="button" type="submit" name="submit" value="Login / Register"></div>
                        </form>
                    </div>
                {% else %}
                    <div class="text-center">
                        <a href="/api/?method_name=logout" class="button hollow secondary" style="width: 150px;" >
                            <i class="material-icons">power_settings_new</i> logout
                        </a>
                        <button data-toggle="create-client-cont" class="success hollow button" type="button" style="width: 150px;">
                            <i class="material-icons">add</i> create client
                        </button>
                    </div>
                    <div data-toggler data-animate="hinge-in-from-top hinge-out-from-top"
                            id="create-client-cont" style="margin-top: 25px;" hidden>
                        <form action="/api" method="post">
                            <input type="hidden" name="method_name" value="client_create">
                            <div class="input-group">
                                <input class="input-group-field" type="text" name="title" placeholder="title">
                                <div class="input-group-button">
                                    <input class="button" type="submit" name="submit" value="Create">
                                </div>
                            </div>
                        </form>

                    </div>
                    {% if clients %}
                    {{ include("blocks/clients.twig") }}
                    {% endif %}
                    {{ include("blocks/methods.twig") }}

                {% endif %}
                <div style="height: 150px;"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script>
        $('[data-js=delete]').on("click", function () {
            if(!confirm("Удалить?")){ return false; }
        })
    </script>

{% endblock %}