
<div style="margin-top: 35px;"></div>
<h3>Methods</h3>
<p>Request запрос должен быть <b>POST / json</b> <br>
    url for request: <b>{{ host }}api/</b> <br>
    <b>~</b> - не обязательный параметр


</p>

<ul class="accordion"
    data-accordion
    data-multi-expand="true"
>
    <li class="accordion-item" data-accordion-item>

        <a href="#" class="accordion-title">Client get. Получить список клиентов</a>

        <div class="accordion-content" data-tab-content>
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-6">
                    <h5>Request:</h5>
                    <ul>
                        <li><b>method_name</b>: client_get</li>
                        <li><b>m</b>: 2</li>
                        <li><b>email</b>: (string)</li>
                        <li><b>pass</b>: (string)</li>
                        <li>~ <b>public_key</b>: (string)</li>
                    </ul>
                </div>
                <div class="cell small-12 medium-6">
                    <h5>Response:</h5>

                    <pre><code class="json">
{
  "response": [
    {
      "id": 21,
      "user_id": 1,
      "date": 1521647984,
      "public_key": "bd18fd90e8db01359ca21f682499abd8c1f4845dc849bb7167e14ca9944e7a21",
      "private_key": "969a5d7a003e6ecaab166fb31bf625febbc4e510048b1bdb92c0ecd50de98e12",
      "title": "gdfg df gdfg df g"
    },
    {
      "id": 22,
      "user_id": 1,
      "date": 1521647988,
      "public_key": "6273f055259d521633471414ed3ca2163682b0f6b81b777a1af5fd237e519b78",
      "private_key": "631e1be3db0984f8f5234cee00e0a83873f0259c7f7680e41d3568c658aef00f",
      "title": "j ghjghj ghj"
    },
    {
      "id": 23,
      "user_id": 1,
      "date": 1521647992,
      "public_key": "6215b5e6aa8518fbc9d3842b22522492bdc526422f848eba6d532e1562eb6df9",
      "private_key": "2744a4d285c6e950fdc44e94688235ef89830b12f0c00ef7196dd7171606fd62",
      "title": "fgdsfsd fsdf sdf"
    }
  ]
}
                            </code></pre>

                </div>

            </div>

        </div>
    </li>

    <li class="accordion-item" data-accordion-item>

        <a href="#" class="accordion-title">Feed add. Добавить запись в ленту</a>

        <div class="accordion-content" data-tab-content>
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-6">
                    <h5>Request:</h5>
                    <ul>
                        <li><b>method_name</b>: feed_add</li>
                        <li><b>private_key</b>: (string)</li>
                        <li><b>title</b>: (string)</li>
                        <li><b>text</b>: (string)</li>
                        <li><b>protected</b>: (bool)</li>
                    </ul>
                </div>
                <div class="cell small-12 medium-6">
                    <h5>Response:</h5>

                    <pre><code class="json">
{
    "response":{
    "title":"titletext",
    "text":"supertext",
    "protected":0,
    "date":1588182985,
    "client_id":1,
    "id":7
}}                          </code></pre>

                </div>

            </div>

        </div>
    </li>

    <li class="accordion-item" data-accordion-item>

        <a href="#" class="accordion-title">Feed edit. Редактировать запись в ленте</a>

        <div class="accordion-content" data-tab-content>
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-6">
                    <h5>Request:</h5>
                    <ul>
                        <li><b>method_name</b>: feed_edit</li>
                        <li><b>private_key</b>: (string)</li>
                        <li><b>id</b>: (int)</li>
                        <li><b>title</b>: (string)</li>
                        <li><b>text</b>: (string)</li>
                        <li><b>protected</b>: (bool)</li>
                    </ul>
                </div>
                <div class="cell small-12 medium-6">
                    <h5>Response:</h5>

                    <pre><code class="json">
{"response":true}
                           </code></pre>

                </div>

            </div>

        </div>
    </li>

    <li class="accordion-item" data-accordion-item>

        <a href="#" class="accordion-title">Feed delete. Удалить запись в ленте</a>

        <div class="accordion-content" data-tab-content>
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-6">
                    <h5>Request:</h5>
                    <ul>
                        <li><b>method_name</b>: feed_delete</li>
                        <li><b>private_key</b>: (string)</li>
                        <li><b>id</b>: (int)</li>
                    </ul>
                </div>
                <div class="cell small-12 medium-6">
                    <h5>Response:</h5>

                    <pre><code class="json">
{"response":true}
                            </code></pre>

                </div>

            </div>

        </div>
    </li>

    <li class="accordion-item" data-accordion-item>

        <a href="#" class="accordion-title">Feed get. Получить инфо про запись по id</a>

        <div class="accordion-content" data-tab-content>
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-6">
                    <h5>Request:</h5>
                    <ul>
                        <li><b>method_name</b>: feed_get</li>
                        <li><b>m</b>: 1</li>
                        <li><b>id</b>: (int)</li>
                        <li><b>public_key</b>: (string)</li>
                        <li>~ <b>private_key</b>: (string)</li>
                    </ul>
                </div>
                <div class="cell small-12 medium-6">
                    <h5>Response:</h5>

                    <pre><code class="json">
{
  "response": {
    "id": 7,
    "client_id": 21,
    "title": "Eos saepe est cupiditate quia.",
    "text": "HE taught us Drawling, Stretching, and Fainting in Coils.' 'What was THAT like?' said Alice. 'Come, let's try Geography. London is the driest thing I ask! It's always six o'clock now.' A bright idea.",
    "date": 1522330943,
    "protected": 1
  }
}
                            </code></pre>

                </div>

            </div>

        </div>
    </li>

    <li class="accordion-item" data-accordion-item>

        <a href="#" class="accordion-title">Пример формирования запроса и получение ответа на PHP</a>

        <div class="accordion-content" data-tab-content>
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-6">
                    <h5>Запрос </h5>
                    {#<ul>
                        <li><b>method_name</b>: feed_get</li>
                        <li><b>m</b>: 2</li>
                        <li><b>public_key</b>: (string)</li>
                        <li><b>limit</b>: (int)</li>
                        <li><b>page</b>: (int)</li>
                        <li>~ <b>private_key</b>: (string)</li>
                        <li>~ <b>search</b>: (string)</li>
                    </ul>#}
                </div>
                <div class="cell small-12 medium-6">
                    <h5>Response:</h5>

                    <pre><code class="php">
<?php
//Формируем JSON
$request_data = array('method_name' => 'client_get', 'm' => '2', 'email' => 'test1@mail.ru', 'pass' => '1234' );
$json = json_encode($request_data);

//Настраиваем cURL
$ch = curl_init('http://api.ru/api');
curl_setopt($ch, CURLOPT_CUSTOMREQUEST, "POST");
curl_setopt($ch, CURLOPT_HTTPHEADER, array('Content-Type: application/json'));
curl_setopt($ch, CURLOPT_POSTFIELDS, $json);
curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);

//Получаем данные
$response = curl_exec($ch);

var_dump($response);
                            </code></pre>

                </div>

            </div>

        </div>
    </li>
    <li class="accordion-item" data-accordion-item>

        <a href="#" class="accordion-title">Feed get. Получить инфо про записи по key</a>

        <div class="accordion-content" data-tab-content>
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 medium-6">
                    <h5>Request:</h5>
                    <ul>
                        <li><b>method_name</b>: feed_get</li>
                        <li><b>m</b>: 2</li>
                        <li><b>public_key</b>: (string)</li>
                        <li><b>limit</b>: (int)</li>
                        <li><b>page</b>: (int)</li>
                        <li>~ <b>private_key</b>: (string)</li>
                        <li>~ <b>search</b>: (string)</li>
                    </ul>
                </div>
                <div class="cell small-12 medium-6">
                    <h5>Response:</h5>

                    <pre><code class="json">
{
  "response": {
    "stack": {
      "first": null,
      "last": 2,
      "center": 1,
      "prev": null,
      "next": 2,
      "left": [],
      "right": [
        2
      ]
    },
    "items": [
      {
        "id": 7,
        "client_id": 21,
        "title": "Eos saepe est cupiditate quia.",
        "text": "HE taught us Drawling, Stretching, and Fainting in Coils.' 'What was THAT like?' said Alice. 'Come, let's try Geography. London is the driest thing I ask! It's always six o'clock now.' A bright idea.",
        "date": 1522330943,
        "protected": 1
      },
      {
        "id": 6,
        "client_id": 21,
        "title": "2dfdsf sdf sdf dsf",
        "text": "sdas dasd asd asd asd asd",
        "date": 1522138105,
        "protected": 0
      }
    ],
    "search": false
  }
}
                            </code></pre>

                </div>

            </div>

        </div>
    </li>


</ul>